*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-size: 16px;
}

a {
  font-family: sans-serif, "Montserrat";
}

.menu__title {
  font-family: "Segoe print", "Kalam";
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}
.menu__title-chic {
  font-family: "Vidaloka";
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}

.menu__restaurant1 {
  font-family: "Devonshire";
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  margin: 20px 0;
}

.menu__restaurant2 {
  font-family: "Kurale";
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  margin: 20px 0;
  background: linear-gradient(90deg, #c67412 0%, #6e4ccc 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__restaurant3 {
  font-family: "Dancing Script";
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  margin: 20px 0;
  background: linear-gradient(90deg, #0431df 0%, #0887fb 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__restaurant4 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  margin: 20px 0;
  background: linear-gradient(90deg, #42973c 0%, #bfff7e 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
}

.core__next {
  display: flex;
  justify-content: center;
}
.core__next__coming {
  display: flex;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #FDCB46;
  background: #579C87;
  margin: 50px 0 150px 0;
  padding: 10px 40px;
  border-radius: 10px;
}
.core__next__coming-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
  justify-content: space-between;
  width: 25px;
  margin-left: 5px;
}
.core__next__coming-container-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FDCB46;
}
.core__next__coming-container-dot-1 {
  animation: popin-dots;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.core__next__coming-container-dot-2 {
  animation: popin-dots 0.5s ease 0.2s infinite alternate;
}
.core__next__coming-container-dot-3 {
  animation: popin-dots 0.5s ease 0.4s infinite alternate;
}
@keyframes popin-dots {
  from {
    opacity: 1;
    transform: scale(1.2);
  }
  to {
    opacity: 0.2;
    transform: scale(0.8);
  }
}

.header {
  background-color: #579C87;
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 220px;
  margin: 20px 0;
}

.core {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
@media (min-width: 700px) {
  .core__block {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 800px;
  }
}
.core__block__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  text-align: center;
  width: 260px;
  height: 350px;
  box-shadow: 0 0 7px #dddddd;
}
.core__block__menu--hover:hover {
  transform: scale(1.1);
  transition: 800ms;
  opacity: 0.7;
}
.core__block__menu-note {
  background: #FCDFDB;
  color: #3d1319;
  align-items: center;
}
.core__block__menu-note--img {
  width: 50px;
  margin-bottom: -25px;
}
.core__block__menu-note--big {
  text-transform: uppercase;
}
.core__block__menu-chic {
  background: #FFF5FE;
  color: #c67412;
}
.core__block__menu-delice {
  background: #F9F9F9;
  color: #0887fb;
}
.core__block__menu-palette {
  background: #FDFFFD;
  color: #42973c;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-bottom: 150px;
}
.main__title {
  margin: 30px 0;
  font-family: "Montserrat";
}
.main__page {
  background: #FCDFDB;
  box-shadow: 0 0 10px #dddddd;
  font-family: "Segoe print", "Kalam";
  max-width: 800px;
  padding: 80px 40px;
}
@media (max-width: 700px) {
  .main__page {
    padding: 40px 10px;
  }
}
.main__page__article {
  display: inline-block;
  justify-content: space-between;
  color: #3d1319;
}
.main__page__header {
  display: flex;
  margin: 50px 0 10px 0;
  align-items: center;
  justify-content: space-between;
}
.main__page__header--trait {
  width: 35%;
}
@media (max-width: 700px) {
  .main__page__header--trait {
    width: 30%;
  }
}
.main__page__header--title {
  font-size: 18px;
  display: inline-block;
}
.main__page__list--line {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.main__page__list--price {
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 700px) {
  .main__page__list--price {
    margin-left: 10px;
  }
}

.footer {
  background-color: #579C87;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
}
.footer__link {
  font-size: 1.3rem;
  text-align: center;
}
.footer__link a {
  color: #FDCB46;
  margin: 0 10%;
  display: inline-block;
}
@media (max-width: 700px) {
  .footer__link a {
    margin: 0 4%;
  }
}
.footer__link a:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  20% {
    transform: translate3d(-2px, 0, 0);
  }
  40% {
    transform: translate3d(3px, 0, 0);
  }
  60% {
    transform: translate3d(-4px, 0, 0);
  }
  80% {
    transform: translate3d(5px, 0, 0);
  }
  100% {
    transform: translate3d(2px, 0, 0);
  }
}
.main__page {
  color: #3d1319;
}
.main__page__title--note {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Devonshire";
  font-size: 3rem;
  font-weight: 500;
}
.main__page__title--note {
  color: #3d1319;
}
.main__page__header--title {
  display: inline-block;
}
.main__page__header--title-note::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #3d1319;
  transition: width 0.3s;
}
.main__page__header--title-note:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.main__page__footer {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.main__page__footer--title {
  font-family: "Devonshire";
  color: #3d1319;
  font-size: 35px;
  font-weight: 400;
}
@media (max-width: 700px) {
  .main__page__footer--title {
    font-size: 25px;
  }
}
.main__page__footer--img {
  width: 50px;
  vertical-align: middle;
}
@media (max-width: 700px) {
  .main__page__footer--img {
    width: 40px;
  }
}
.main__page__list--note {
  padding: 0 25px;
}
@media (max-width: 700px) {
  .main__page__list--note {
    padding: 0 20px;
  }
}

.main__page--chic {
  padding: 100px 0 150px 0;
  background: #FFF5FE;
  font-family: "Kurale";
}
.main__page__article-1 {
  color: #c67412;
  font-size: 16px;
}
.main__page__article-2 {
  color: #a56799;
  font-size: 16px;
}
.main__page__article-3 {
  color: #6e4ccc;
  font-size: 16px;
}
.main__page__header--title {
  display: inline-block;
}
@media (max-width: 700px) {
  .main__page__header--title-chic {
    font-size: 18px;
    text-align: center;
  }
}
.main__page__header--title-chic::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #c67412;
  transition: width 0.3s;
}
.main__page__header--title-chic:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.main__page__title--chic {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Vidaloka";
  font-size: 3rem;
  font-weight: 500;
  background: linear-gradient(90deg, #c67412 0%, #6e4ccc 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 700px) {
  .main__page__title--chic {
    font-size: 2.5rem;
  }
}
.main__page__list--chic {
  padding: 0 80px;
}
@media (max-width: 700px) {
  .main__page__list--chic {
    padding: 0 20px;
  }
}

.main__page--delice {
  background: #F9F9F9;
  font-family: "Segoe print", "Kalam";
}
.main__page__title--delice {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Dancing Script";
  font-size: 4rem;
  font-weight: 500;
  background: linear-gradient(90deg, #0431df 0%, #0887fb 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 700px) {
  .main__page__title--delice {
    font-size: 2.5rem;
  }
}
.main__page__header--title {
  display: inline-block;
}
@media (max-width: 700px) {
  .main__page__header--title-delice {
    font-size: 18px;
    text-align: center;
  }
}
.main__page__header--title-delice::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #333;
  transition: width 0.3s;
}
.main__page__header--title-delice:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.main__page__list--delice {
  padding: 0 80px;
}
@media (max-width: 700px) {
  .main__page__list--delice {
    padding: 0 20px;
  }
}

.main__page--palette {
  background: #FDFFFD;
  font-family: "Segoe print", "Kalam";
}
.main__page__title--palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Kaushan Script";
  font-size: 4rem;
  font-weight: 500;
  background: linear-gradient(90deg, #42973c 0%, #bfff7e 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 700px) {
  .main__page__title--palette {
    font-size: 2.5rem;
  }
}
.main__page__header--title {
  display: inline-block;
}
@media (max-width: 700px) {
  .main__page__header--title-palette {
    font-size: 18px;
    text-align: center;
  }
}
.main__page__header--title-palette::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #333;
  transition: width 0.3s;
}
.main__page__header--title-palette:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.main__page__list--palette {
  padding: 0 60px;
}
@media (max-width: 700px) {
  .main__page__list--palette {
    padding: 0 20px;
  }
}

/*# sourceMappingURL=style.css.map */
