$base-font-size: 16px!default;

body {
    font-size: $base-font-size;
}

a {
    font-family: sans-serif, 'Montserrat';
}

.menu__title {
    @include title-menu($font-primary);
    &-chic {
        @include title-menu($font-chic);
    }
}

.menu__restaurant1 {
    @include restaurant-name($font-restaurant1);
}

.menu__restaurant2 {
    @include restaurant-name($font-restaurant2);
    @include gradient($color-font-chic, $color-font-chic3);
    
}
.menu__restaurant3 {
    @include restaurant-name($font-restaurant3);
    @include gradient($color-font-delice2, $color-font-delice);
}
.menu__restaurant4 {
    @include restaurant-name($font-restaurant4);
    @include gradient($color-font-palette, $color-font-palette2);
  
}
